*/node_modules
*/dist
*/.vscode
*/.idea
*/.DS_Store
*/.env
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
*/.cache
*/.parcel-cache
*/.yarn
*/.idea
frontend/assets/styles.css
/.idea/
# Exclude docs folder completely
docs/
docs/**
/backend/reports/
/frontend/dist_electron/*
/frontend/dist_electron/builder-debug.yml
installer/files/frontend/*
installer/files/frontend/dist_electron/*
installer/files/backend/*
buildtask_setup.exe
installer/phpMyAdmin/phpMyAdmin-5.2.2-all-languages.zip
installer/files/mariadb/mariadb-11.4.5-winx64.msi
