<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\INF_ZOLCI\backend\build\libs\backend-0.0.1-SNAPSHOT.jar</jar>
  <outfile>C:\INF_ZOLCI\backend\build\libs\backend.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\INF_ZOLCI\frontend\src\assets\buildtask_logo.ico</icon>
  <var>MYSQL_ROOT_PASSWORD=root</var>
  <var>MYSQL_DATABASE=buildtask_db</var>
  <var>MYSQL_USER=buildtask_user</var>
  <var>MYSQL_PASSWORD=buildtask_password</var>
  <var>MYSQL_CONNECTION_STRING=jdbc:mariadb://127.0.0.1:3306</var>
  <var>SPRING_PROFILES_ACTIVE=production</var>
  <var>REPORTS_STORAGE_PATH=./reports</var>
  <jre>
    <path>jre</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>true</requires64Bit>
    <minVersion>17</minVersion>
    <maxVersion></maxVersion>
    <initialHeapSize>256</initialHeapSize>
    <maxHeapSize>1024</maxHeapSize>
  </jre>
</launch4jConfig>